<html>
  <head>
    <meta charset='utf-8' />
    <title>your OTP code</title>
  </head>
  <body>
    <h1>your OTP code</h1>
    <p>
      your OTP code is
      <strong>{{otp}}</strong>. it will expire in
      {{ttl}}
      seconds.
    </p>
  </body>
</html>